#main-header {
  background-color: yellow;
  text-align: center;
}
.articles {
  margin-left:100px;
  margin-bottom: 500px;
  border-left: 2px solid green;
  padding-left: 10px;
}
#menu {
  float: left;
}
#menu h2{
  margin-top:0;
}
#last-posts{
  float:right;
  border-width: 2px;
  border-color: green;
  border-style: dashed;
  text-align:right;
  padding: 10px;
}
#last-posts h2{
  margin-top:0;
}
ul {
  list-style:none;
  padding:0;
}
.container {
  display:block;
}
